jinja2~=3.0.3
boto3@ git+https://github.com/redpanda-data/boto3@5770b4da8f758ceaa47b6482a19569f29739704e
# jinja2 pulls in MarkupSafe with a > constraint, but we need to constrain it for compatibility
MarkupSafe~=2.0.0
pyparsing<3.0.0
zipp<2.0.0
pywinrm==0.4.3
requests==2.31.0
paramiko @ git+https://github.com/redpanda-data/paramiko@80de6f2f6657c901778a1ffe2213dbc31d7edc35
pyzmq==25.1.2
pycryptodome==3.9.8
more-itertools==5.0.0
PyYAML==5.3.1
